html .fb_share_button {
	display: -moz-inline-block;
	display:inline-block;
	padding:1px 20px 0 5px;
	height:15px;
	border:1px solid #d8dfea;
	background:url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?8:26981) no-repeat top right;
	text-decoration: none;
}
html .fb_share_button:hover {
	color:#fff;
	border-color:#295582;
	background:#3b5998 url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?8:26981) no-repeat top right;
	text-decoration:none;
}

html .fb_share_link {
	padding:2px 0 0 20px;
	height:16px;
	background:url(http://static.ak.fbcdn.net/images/share/facebook_share_icon.gif?8:26981) no-repeat top left;
}