@CHARSET "UTF-8";

/*Please don't touch css*/

.mainCss {
}

* {
	margin: 0;
	padding: 0;
	position: relative;
}

html, body {
	width: 100% !important;
	height: 100% !important;
	color: #515151;
	background-color:#FCFCFC;
	font-size: 82.5%;
	font-family: Helvetica, Arial, sans-serif;
	overflow: auto;
	background-image: url(images/bg.png);
}

hr {
	margin: 1em 0;
}

#header {
	background-color: #00B4FF;
	background-color: rgba(0, 180, 255, 0.6);
	background-repeat: no-repeat;
	padding: 2.5em 0;
	text-align: center;
	white-space: nowrap;
	-webkit-box-shadow: inset 0px -2px 6px -1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px -2px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px -2px 6px -1px rgba(0, 0, 0, 0.5);
}

#header h1 img {
	height: 32px;
	top: 0.5em;
	margin-right: 0.2em;
}

h1 {
	margin: 0 auto;
	color: #FFF;
	font-size: 1.7em;
	font-family: 'Glegoo', Georgia, Times New Roman, serif;
	font-weight: 200;
	text-shadow: #EEE 1px 1px 1px;
	line-height: 1.7em;
	vertical-align: middle;
}


a {
	color: #757575;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #ffc33e;
}

a:active {
	top: 1px;
}

#footer {
	width: 100%;
	clear: both;
	text-align:center;
	height: 4.8em;
	vertical-align:middle;
}

#footer span {
	top: 40%;
	font-size: 1em;
	color: #515151;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	vertical-align:middle;
}

.mainPanel {
}

.menuPanel {
	padding: 1em 0;
	text-align: center;
	vertical-align: middle;
	background-color: #FCFCFC;
	background-color: rgba(252, 252, 252, 0.5);
}

.pager {
	margin: 0 auto;
	font-size: 1em;	
}

.pagerPanel {
	width: 100%;
	background-color: #FCFCFC;
}

.mapContainerPanel {
	padding: 1px;
	overflow: auto;
}

.searchText {
	font-size: 1em !important;
	color: #515151;
}

.gwt-Label {
	font-size: 1em !important;
	color: #515151;
}

.gwt-Label-error {
	color: #FF0000;
	font-weight: bold;
}

.gwt-RadioButton {
	font-size: 1em !important;
	color: #000;
}

.gwt-TabLayoutPanel-sideTabPanel {
	height: 39em;
	margin: 0.5em 0.9em;
}

.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	padding-top: 6px;
	border-bottom: 1px solid #ccc;	
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
	border-color: #ccc;
	border-style: solid;
	border-width: 0px 1px 1px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	overflow: hidden;
	padding: 6px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	padding: 4px 8px 4px 8px;
	cursor: pointer;
	cursor: hand;
	color: white;
	font-weight: normal;
	text-align: center;
	background: #E5E5E5;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 1px 0px; 
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	cursor: default;
	background: #FFF;
	color: #333;
	font-weight: bold;
}

.gwt-SplitLayoutPanel-HDragger {
	background: #e7e7e7 url(images/thumb_vertical.png) center center no-repeat;
	cursor: col-resize;
}

.gwt-TextBox {
	width: 80px;
	height: 20px;
	font-size: 1em !important;
}

.gwt-TextBox-before {
	color: #CCC;
}

.gwt-TextBox-longer {
	width: 170px;
}

.gwt-TextBox-shorter {
	width: 80px;
}

.gwt-Button {
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	font-size: 1em;
	color: #555;
	background: #F8F8F8;
	border:1px solid #bbb;
	border-bottom: 1px solid #a0a0a0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

.gwt-Button:active {
	border: 1px inset #ccc;
	top: 1px;
}
.gwt-Button:hover {
	border-color: #939393;
}
.gwt-Button[disabled] {
	cursor: default;
	color: #888;
}
.gwt-Button[disabled]:hover {
	border: 1px outset #ccc;
}


.searchPanel {
	background-color: #FFF;
}

.searchpanel hr {
	margin: 0.5em 0;
} 

.searchPanel .gwt-Button-textButton-resetSearch {
	float: right;
}

.searchSettingPanel {
	clear: both;
}

.hideShowButton-horizontal {
	top: 0;
	left: 0;
}

.hideShowButton-vertical {
	top: 0;
	right: 0.1em;	
}

.hideShowButton {
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	z-index: 10;	
	cursor: pointer;
	cursor: hand;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	background-color: transparent;
	color: #555;
	text-align: center;
	vertical-align: top;
	border: none;	
}

.hideShowButton:active {
	top: 0.1em;
}

.hideShowButton:hover {
	color: #fff;
}

.hideShowButton:visited {
	color: #555;
}

.tableWrapPanel {
	background-color: transparent;
}

.tableWrapPanel-collapsed {
	margin-bottom: 2em;
	overflow: visible;
}

.tablePanel {
	background-color: #FFF;
	overflow-y: scroll !important;
	overflow-x: auto;
}

.advancedSettingPopup {
	z-index: 100;
	padding: 4px 8px 4px 8px;
	background-color: #FFF;
	margin: 0;
}


.gwt-DialogBox {
	width: 30%;
	background-color: #FCFCFC;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;	
}

.gwt-DialogBox .Caption {
	padding: 4px 8px 4px 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #D2D2D2;
	background: #fcfcfc;
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #d6dbbf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#d6dbbf));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	background: linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#d6dbbf',GradientType=0 );	
}

.gwt-DialogBox .dialogContent {
	font-size: 12px !important;
	background-color: #FCFCFC;
}

.gwt-DialogBox .dialogContent .gwt-Label {
	font-size:12px !important;
}

.gwt-DialogBox .dialogContent .gwt-Button {
	font-size:12px !important;
}

.editDialog {
	width: 30%;
	background-color: #FCFCFC;
	border: 3px solid #A8A8A8;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;	
}

.editDialog .Caption {
	padding: 0.3em 0.8em 0.3em 0.4em;
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #D2D2D2;
	background: #fcfcfc;
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #d6dbbf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#d6dbbf));
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	background: -o-linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	background: linear-gradient(top,  #fcfcfc 0%,#d6dbbf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#d6dbbf',GradientType=0 );
}

.editPanel .dialogContent {
	padding: 2em;
	font-size: 12px !important;
	background-color: #FCFCFC;
}


.editPanel {
	padding: 2em;
	font-size: 12px;
}

.editPanel .gwt-Button {
	float: right;
	font-size: 1em;
}

.editPanel .gwt-Label {
	font-size: 1em !important;
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.gwt-Button-textButton {
	margin: 0;
	background-color: transparent;
	border: none;
	color: #757575;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.gwt-Button-textButton:hover {
	color: #ffc33e;
}

.gwt-Button-textButton:active {
	top: 0.1em;
}

.facebookPanel {
	height: 2.3em;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}

.facebookPanel a{
	top: -0.8em;
	margin-right: 0.4em;
} 

.sidePanel {
	background-color: #FCFCFC;
	background-color: rgba(252, 252, 252, 0.75);
	-webkit-box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	overflow-x: auto;
}

.sidePanel-collapsed {
	margin-left: 2em;
	overflow: visible;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
	margin: 0;
	text-decoration: none;
	float: left;
	cursor: pointer;
	cursor: hand;
}

.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled,
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  margin: 0;
  text-decoration: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
  cursor: hand;
}

.polygonSettingPanel {
	margin: 0.5em auto;
}

.polygonSettingPanel .gwt-Label {
	margin-bottom: 0.5em;
	font-size: 0.9em !important;
}

.polygonSettingPanel .gwt-PushButton-polygonBtn,
.polygonSettingPanel .gwt-ToggleButton-polygonBtn {
	display: inline;
	width: 2em;
	height: 2em;
	margin-right: 0.9em;
}

.buttonPanel {
	background-color: #CCC;	
	background-color: rgba(204, 204, 204, 0.25);
	font-size: 1em;
	padding: 0.3em;
	padding-right: 2em;
	text-align: right;
	border: none;
	-webkit-box-shadow: inset 0px 1px 6px -2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 6px -2px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 6px -2px rgba(0, 0, 0, 0.5);  
}

.buttonPanel .gwt-Button-textButton {
	margin: 0 0.3em;
	
}

.gwt-ListBox {
	font-size: 1em;
}

.userInfoPanel {
	background-color: #FFF;
	font-size: 1em;
}

.userInfoPanel .gwt-Label {
	margin: 0.5em 0;
}

.userInfoPanel .gwt-Button {
	margin: 0.5em auto;
}

.errorPopup {
	background-color: #FFF;
	z-index: 110;
}


.gwt-TextArea {
	width: 25em;
	min-height: 15em;
}

.gmnoprint {
   font-size: 12px !important;
   white-space: pre-wrap;   
   white-space: -moz-pre-wrap;    
   white-space: -pre-wrap;     
   white-space: -o-pre-wrap;    
   word-wrap: break-word;
   line-height: 1.5em;
}

.gmnoprint .wordwrap{
	height: 50%;
	overflow: auto;
}