<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>cpsc310.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>HouseDataService</servlet-name>
  	<servlet-class>cpsc310.server.HouseDataServiceImpl</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>observerService</servlet-name>
  	<servlet-class>cpsc310.server.DataCatalogueObserverImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>cpsc310.server.LoginServiceImpl</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/team_02/greet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>HouseDataService</servlet-name>
    <url-pattern>/team_02/houseData</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>observerService</servlet-name>
    <url-pattern>/team_02/observer</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/team_02/login</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Team_02.html</welcome-file>
  </welcome-file-list>

</web-app>
